:root {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --primary-color: rgb(24, 146, 212);
  --secondary-color: rgb(226, 232, 240);
  --accent-color: rgb(240, 180, 41);
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
  grid-template-areas: "sidebar header"
                       "sidebar main"
                       "sidebar main";
  gap: 0;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 100vh;
  width: 100vw;
}

.header {
  grid-area: header;
  background-color: white;
  margin: 0;
  padding: 16px 32px;
  border: none;
  display: grid;
  grid-template: 1fr 2fr / 3fr 1fr;
  gap: 1.5rem;
}

.header-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.profile-picture-thumbnail {
  width: 36px;
}

.user-thumbnail {
  width: 64px;
}

.search-wrapper,
.account-controls,
.greeting-wrapper,
.buttons-menu {
  display: grid;
  align-content: center;
  align-items: center;
  gap: 1.25rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.search-wrapper, .greeting-wrapper {
  justify-content: start;
}

.account-controls, .buttons-menu {
  justify-content: end;
}

.search-wrapper {
  grid-template-columns: max-content 1fr;
}

.search-wrapper input[type="search"] {
  padding: .5rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--secondary-color);
}

.account-controls p {
  font-weight: 700;
}

.greeting p {
  font-size: 1.1rem;
}

.greeting h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.buttons-menu button {
  background-color: var(--primary-color);
  padding: 1em 2em;
  border: none;
  border-radius: 1.5em;
  color: white;
  font-weight: 700;
}

.buttons-menu button:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 2px rgba(255, 255, 255, 0.3);
}

.buttons-menu button:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--primary-color);
  margin: 0;
  padding: 30px;
  border: none;
  color: white;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  justify-content: start;
  align-content: start;
  gap: 2rem;
}

.sidebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.dashboard-icon {
  height: 3rem;
  width: 3rem;
}

.sidebar h1 {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 2rem;
  font-weight: 700;
}

.sidebar nav {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.3rem;
}

.nav-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-item > * {
  margin: 0;
  padding: 0;
}

.nav-icon {
  justify-self: center;
  width: 1.5rem;
  height: 1.5rem;
}

.main {
  grid-area: main;
  background-color: var(--secondary-color);
  margin: 0;
  padding: 50px 30px;
  border: none;
  box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.2);
}